# Ignore generated/model/log/result directories
LOGS/
RESULT/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
/.venv/

# PyTorch weights
*.pth
!/MODEL/*.pth

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
